<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About</title>
    <div id="h2Home"><h1>QUIEN ES CRISTIANO RONALDO?</h1></div>
</head>
<body>
    <div id="aboutContenedor1">
        
            <h3>
                CRISTIANO es Cristiano?
            </h3>
            <p>
                BLABLABLABLABLABLABLABLBLAALBALBA
            </p>
      
        <div>
            <img src="images/jesus.jpg" id="jesus" width="200px" height="300">
        </div>

        
    </div>
    
</body>
</html>